<!DOCTYPE html>
<html data-ng-app="PaginationDirectiveApp">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="pagination.css" />
    </head>
    <body>
        <div class="pagination-wrap" data-ng-controller="PaginationCtrl">
            <div class="header-elm">Angular Pagination Directive</div>
            <h3>Pagination Parameters</h3>
            <div>
                <div class="pagination-param-wrap"><span class="pagination-param">Minimum page number</span><input data-ng-keyup="verifyNumber($event)" class="pagination-params-input" type="number" min="0" data-ng-model="min" /></div>
                <div class="pagination-param-wrap"><span class="pagination-param">Maximum page number</span><input data-ng-keyup="verifyNumber($event)" class="pagination-params-input" type="number" min="0" data-ng-model="max" /></div>
                <div class="pagination-param-wrap"><span class="pagination-param">Range</span><input data-ng-keyup="verifyNumber($event)" class="pagination-params-input" type="number" min="0" data-ng-model="range" /></div>
                <div class="pagination-param-wrap"><span class="pagination-param">Selected Page number</span><span class="pagination-params-input">{{pageNumber}}</span></div>
                <paginate min={{min}} max={{max}} range={{range}} pagination-callback="paginationCallback(currPage)"></paginate>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>